// Place all the styles related to the api/Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogs {
  width: 100%;
  min-height: 400px;

  // background-color: #83d3c9;
  // background-color: #21b2a6;

  background: rgba(0,0,0,0);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 60px 0;
}

.blogs-row {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 0;
}

.blog {
  background-color: lightgrey;

  width: 40%;
  height: 250px;

  margin: 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-shadow: grey 0 0 10px;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.blog-title {
  font-size: 25px;
  font-weight: 700;

  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}

.blog-intro {
  font-size: 15px;
  line-height: 20px;
  width: 80%;
}
