// Place all the styles related to the api/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags-box {
  margin: 60px auto;
}

.tags {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  margin: 0px auto;
}

.tag {
  height: 25px;
  border: 1px solid #333;
  border-radius: 3px;
  margin: 5px 10px 5px 0;
  padding: 7px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.tag-header {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: right;
  padding: 10px;

  width: 100%;
  // border-bottom: 1px solid #2e3842;
  margin: 0 auto;
  // background-color: blue;
}

.tag:hover {
  color: #f94d4d;
}

.taggings {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}

.delete-tagging {
  position: absolute;
  right: 10px;
}
