// Place all the styles related to the api/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags-box {
  margin: 60px auto;
}

.tags {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  margin: 0px auto;
}

.tag {
  height: 25px;
  border: 1px solid #2e3842;
  margin: 5px 10px 5px 0;
  padding: 7px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;

  background-color: #fff;
  cursor: pointer;
}

.tag:hover {
  transition: 'all' .2s ease-in;
  color: #fff;
  background-color: #2e3842;
}

.active-tag {
  transition: 'all' .2s ease-in;
  color: #fff;
  background-color: #2e3842;
}

.active-tag:hover {
  background-color: grey;
}

.tag-header {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: right;
  padding: 10px;

  width: 100%;
  // border-bottom: 1px solid #2e3842;
  margin: 0 auto;
  // background-color: blue;
}

.taggings {
  // width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.delete-tagging {
  margin-left: 7px;
}

.taggings-box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.tagging-header {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

#new-taggings-form {
  width: 80%;
  padding-top: 60px;
}

.new-tags-btn {
  padding: 10px;
  border: 1px solid #2e3842;

  margin: 30px auto;
  margin-bottom: 0;

  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fff;
}

.new-tags-btn:hover {
  color: #fff;
  background-color: #2e3842;;
}
