// Place all the styles related to the api/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags {
  width: 850px;
  max-height: 250px;
  overflow-y: scroll;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 50px auto;
}

.tag {
  width: 225px;
  height: 35px;

  border: 1px solid #333;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  margin: 10px 20px;

  font-size: 15px;
}

.tag:hover {
  background-color: silver;
  color: #fff;
}

.tags-box {
  width: 800px;
  margin: 0 auto;
}

.taggings {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}

.delete-tagging {
  position: absolute;
  right: 10px;
}
