// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-box {
  background-color: #83d3c9;

  min-width: 700px;
  width: 70%;
  height: 500px;

  color: #fff;
  letter-spacing: 2px;

  flex-direction: column;
}

.user-info {
  font-size: 17px;
  min-width: 500px;
  height: 35%;
  width: 65%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-pic {
  min-width: 150px;
  min-height: 150px;
  height: 150px;
  width: 150px;
  background-color: lightgrey;
  border-radius: 50%;
  margin-left: -70px;
}

.user-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 300px;
  height: 130px;
  margin-left: -20px;
}

.user-content {
  height: 25%;
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}

.attr-name {
  width: 48%;
}

.attr-value {
  width: 48%;
}

.attr-edit {
  width: 10%;
}

.user-buttons {
  width: 400px;
  height: 27%;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.user-button {
  width: 70px;
  height: 70px;
  border: 2.5px solid #fff;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background .15s ease-in;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.user-button:hover {
  background: rgba(255, 255, 255, 0.35);
  transition: background .15s ease-in;
}

.user-button:hover > .ub-icon {
  filter: brightness(80%);
  transition: filter .15s ease-in;
}

.ub-icon {
  margin-top: -6px;
  margin-left: -4px;
  height: 55%;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: filter .15s ease-in;
}

#delete-icon {
  height: 60%;
  margin-top: -3.5px;
  margin-left: -2px;
}

#edit-icon {
  margin: 0;
}
