// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-box {
  background-color: #83d3c9;

  min-width: 700px;
  width: 70%;
  height: 500px;

  color: #fff;
  letter-spacing: 2px;

  flex-direction: column;
}

.user-info {
  font-size: 17px;
  min-width: 650px;
  height: 35%;
  width: 65%;
  position: relative;
}

.user-pic {
  min-width: 150px;
  min-height: 150px;
  height: 150px;
  width: 150px;
  background-color: lightgrey;
  border-radius: 50%;

  position: absolute;
  left: 60px;
}

.user-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 300px;
  width: 400px;
  height: 130px;


  position: absolute;
  left: 250px;
}

.user-content {
  height: 30px;
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}

.attr-name {
  width: 35%;
}

.attr-value {
  width: 65%;
}

.attr-edit {
  width: 10%;
}

.user-buttons {
  width: 400px;
  height: 27%;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.user-button {
  width: 70px;
  height: 70px;
  border: 2.5px solid #fff;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background .15s ease-in;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.user-button:hover {
  background: rgba(255, 255, 255, 0.35);
  transition: background .15s ease-in;
}

.user-button:hover > .ub-icon {
  filter: brightness(80%);
  transition: filter .15s ease-in;
}

.ub-icon {
  margin-top: -6px;
  margin-left: -4px;
  height: 55%;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: filter .15s ease-in;
}

#delete-icon {
  height: 60%;
  margin-top: -3.5px;
  margin-left: -2px;
}

#edit-icon {
  margin: 0;
}

.edit-user-form {
  margin-top: 10px;
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  letter-spacing: 2px;
  font-size: 15px;
}

.eu-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.eui-name {
  width: 33%;
}

.eui-value {
  width: 65%;
  height: 25px;
  padding: 0 7px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px;
  letter-spacing: 1px;
}

.eu-btn {
  width: 48%;
  height: 30px;
  margin-top: 10px;
  border-radius: 3px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.update-btn {
  background-color: #e7746f;
  border: 2px solid #e7746f;
  transition: filter .15s ease-in;
}

.update-btn:hover {
  filter: brightness(110%);
  transition: filter .15s ease-in;
}

.cancel-btn {
  background: rgba(0,0,0,0);
  border: 2px solid #fff;
  transition: background .15s ease-in;
}

.cancel-btn:hover {
  background: rgba(255,255,255,0.35);
  transition: background .15s ease-in;
}
