.blog-form-box {
  background-color: whitesmoke;
  width: 100%;
  padding: 50px 0;
}

.blog-form {
  background-color: lightgrey;
  width: 80%;
  height: auto;

  margin: 0 auto;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.upload-img-btn {
  height: 300px;
  width: 300px;

  border: 1px solid #2e3842;
  background: rgba(0,0,0,0.3);
  transition: all .2s ease-in;
  cursor: pointer;

  font-size: 23px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  // color: #2e3842;
}

.upload-img-btn:hover {
  transition: all .2s ease-in;
  color: #2e3842;
  background: #fff;
}

.blog-input {
  width: 100%;
  outline: none;
  resize: none;
}

.blog-body-input {
  border: none;
  display:inline-block;
  min-height: 100px;
  margin-bottom: 60px;
  overflow: hidden;
}

.blog-submit-btn {
  width: 200px;
  height: 40px;

  cursor: pointer;
  transition: 'all' .2s ease-in;
  background-color: #fff;

  color: #2e3842;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;

  padding: 7px;
  border: 1px solid #2e3842;
  margin: 0 auto;
  margin-bottom: 60px;
}

.blog-submit-btn:hover {
  transition: 'all' .2s ease-in;
  color: #fff;
  background-color: #2e3842;
}
