// Small Blog Link CSS

.blog-link {
  background-color: #fff;

  width: 300px;
  height: 300px;

  margin: 15px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #2e3842;
  letter-spacing: 2px;

  cursor: pointer;
  overflow: hidden;
}

.slink-img-div {
  position: relative;
  width: 100%;
}

.slink-img {
  position: absolute;
  top: 0;
  right: 0;
  // height: 100%;
  width: 100%;
}

.blog-link-info {
  height: 80%;
  width: 80%;
  z-index: 10;
}

.blog-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;


  color: #fff;

  position: absolute;
  top: 0;
  right: 0;
}

.blog-title {
  font-size: 25px;
  font-weight: 700;
  width: 80%;


  padding-bottom: 7px;
}

.blog-intro {
  font-size: 15px;
  line-height: 20px;
  width: 80%;
  height: 30%;
}


// Blog Link Large component CSS
.blogs-index {
  display: flex;
  width: 100%;
  height: 100vh;
}

.blogs-box-large {
  width: 75%;
  overflow-y: scroll;

  margin-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blogs-box-large-mobile {
  width: 100%;
  overflow-y: scroll;

  margin-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blogs-large {
  background-color: whitesmoke;
  width: 100%;
  // padding: 50px;
  padding-top: 50px;
}

.blog-content {
  height: auto;
  width: 80%;
  min-width: 540px;
  max-width: 900px;

  margin: 0 auto;
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #aaaaaa;

  background-color: #fff;
  position: relative;
}

.blog-content-mobile {
  height: auto;
  width: 90%;

  margin: 0 auto;
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #aaa;

  background-color: #fff;
  position: relative;
}

.blink-img {
  max-height: 600px;
  height: 50vw;
  width: 100%;
  background-color: #eaeaea;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blink-intro {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0 100px;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.blink-intro-mobile {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0 50px;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.blink-title {
  font-size: 60px;
  letter-spacing: 2px;
  color: #2e3842;
  margin-bottom: 50px;
  text-align: center;
}

.blink-body {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #5f5f5f;
  height: auto;
  white-space: pre-wrap;
  margin-bottom: 50px;
}

.blink-more {
  margin-top: 80px;
  width: 175px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #2e3842;

  font-weight: 500;
  letter-spacing: 2px;
  color: #2e3842;
  margin-bottom: 80px;
}

.blink-more:hover {
  color: #fff;
  background-color: #2e3842;
}

.blink-large-box {
  padding-top: 30px;
  width: 100%;
}
