.footer {
  width: 100%;
  height: 275px;
  background-color: #2b343d;
  // background: rgba(43, 52, 61, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icons {
  display: flex;
  justify-content: space-between;

  height: 33px;
  width: 200px;
}

.svg-icon {
  height: 100%;
  transition: filter .15s ease-in;
}

.svg-icon:last-child {
  margin: 0;
}

.svg-icon:hover {
  filter: brightness(140%);
  transition: filter .15s ease-in;
}
