.related-blogs-section {
  // height: 250px;
  height: auto;
  width: 100%;

  // background-color: orange;
  padding: 0 40px;
  margin-bottom: 80px;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.related-head {
  height: 40px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;

  margin-bottom: 20px;
}

.related-blogs {
  // width: 100%;
  height: auto;

  display: flex;
  justify-content: flex-start;
}

.related-blog-li {
  width: 33.333333%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.related-blog {
  // width: 200px;
  height: 190px;
  width: 90%;
  cursor: pointer;
  // margin-right: 25px;

}

.related-blog-img {
  // height: 130px;
  width: 100%;
  margin-bottom: 10px;

  // background-color: lightgrey;
}

.related-blog-img-content {
  height: 12vw;
  min-height: 90px;
  max-height: 200px;
  width: 100%;
}

.related-blog-img-content-mobile {
  height: 15vw;
  min-height: 90px;
  max-height: 200px;
  width: 100%;
}

.related-blog-text {
  font-size: 20px;
}
